<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ chef.full_name }}</h1>
    <h2>Your Recipes:</h2>
    <table>
    <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Description</th>
        </tr>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.instructions }}</td>
                <td>{{ recipe.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>